<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MattEland.AutomatingMyDog.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MattEland.AutomatingMyDog.Desktop.Properties.Settings>
            <setting name="CogServicesEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="CogServicesKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CogServicesRegion" serializeAs="String">
                <value />
            </setting>
            <setting name="Voice" serializeAs="String">
                <value>en-US-GuyNeural</value>
            </setting>
            <setting name="LanguageEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguageKey" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOpenAI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseImageCrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseObjectDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTextAnalysis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCLU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSpeech" serializeAs="String">
                <value>True</value>
            </setting>
        </MattEland.AutomatingMyDog.Desktop.Properties.Settings>
    </userSettings>
</configuration>